.tall-section {
    height: 1000px; 
    background-color: #f2f2f2; 
    padding: 20px;
}

.navbar-collapse.collapse {
    background-color: #d9534f; 
}

.navbar-collapse.collapse a {
    color: #fff !important; 
    font-size: 18px;
    display: block;
    padding: 10px 0;
}

.navbar {
    margin-bottom: 0;
}
